/* External stylesheet for styling */
@media screen and (max-width: 450px){
    header{background-color: blue;color:white;padding: 20px;}}

@media screen and (min-width: 450px){
    header{background-color: green; color: white; padding: 20px;}}